:root {
    --text-font: 2.8rem;
}

.logo {
    width: 78px;
    height: 66px;
}

article.container {
    font-size: 2rem;
    top: 30%;
    left: 8%;
    width: 280px;
    padding-left: 30px;
}

div.button {
    padding-left: 15px;
}
